*{
margin: 0;
padding: 0;

    body{
        background-color: #222;
        color: #ccc;
        font-size: 20px;
        padding: 10px;
    
        .periodsContainer {
            border: solid 1px #00897b;
            padding: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            line-height: 20px;
      
            select {
              font-size: 15px;
              margin-right: 10px;              
            }
      
            button {
              padding: 3px;
              font-size: 12px;
              font-weight: 600;
              margin-left: 10px;
            }
          }
        
        .container{
            padding-top: 10px;        
        }
    
    }

}